*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;
    background:linear-gradient(270deg,#ea1a0b,#ff758c,#ff7eb3,#ffc2d1);
    background-size:600% 600%;
    animation:bgMove 8s infinite alternate;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

@keyframes bgMove{
    0%{background-position:0%}
    100%{background-position:100%}
}

.card{
    background:rgba(255,255,255,0.15);
    padding:40px;
    width:500px;
    text-align:center;
    border-radius:25px;
    backdrop-filter:blur(15px);
    box-shadow:0 20px 60px rgba(0,0,0,0.4);
    color:white;
}

h1{
    margin-bottom:30px;
    font-size:32px;
}

.buttons button{
    padding:15px 35px;
    border: 1px;;
    border-radius:50px;
    font-size:18px;
    cursor:pointer;
    margin:10px;
    transition:0.3s;
}

#yes{
    background:#00ff9d;
    color:black;
    box-shadow:0 0 20px #00ff9d;
}

#yes:hover{
    transform:scale(1.12);
}

#no{
    background:#ff3b3b;
    color:white;
    position:absolute;
}

/* hearts */
.heart{
    position:absolute;
    font-size:30px;
    animation:float 6s linear infinite;
}

.tapBtn{
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    background: rgb(127, 5, 242);
    color: #ff2e63;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255,255,255,0.8);
    transition: 0.3s;
    animation: pulse 1.5s infinite;
}

.gallery-btn{
  position:right;     /* keeps it on screen */
  top:20px;           /* distance from top */
  right:20px;         /* distance from right */
  padding:12px 25px;
  border:none;
  border-radius:25px;
  background:#e40b70;
  color:white;
  font-size:16px;
  cursor:pointer;
  z-index:1000;       /* stays above everything */
}

.clickBtn{
  position:fixed;
  bottom:30px;
  right:30px;
  padding:15px 35px;
  font-size:20px;
  border:none;
  border-radius:40px;
  background:#ffffff;
  color:#e63946;
  cursor:pointer;
  box-shadow:0 0 20px pink;
  animation:pulse 1.5s infinite;
  z-index:1000;
}

.clickBtn:hover{
  transform:scale(1.1);
  background:#ffe6f0;
}

@keyframes pulse{
  0%{box-shadow:0 0 10px white;}
  50%{box-shadow:0 0 30px pink;}
  100%{box-shadow:0 0 10px white;}
}


.tapBtn:hover{
    transform: scale(1.1);
    background:#ffe6f0;
}

@keyframes pulse{
    0%{ box-shadow:0 0 10px #fff;}
    50%{ box-shadow:0 0 30px #fff;}
    100%{ box-shadow:0 0 10px #fff;}
}

.conclusion{
    position:absolute;
    bottom:20px;
    right:20px;
    width:300px;
    color:white;
    text-align:right;
    font-size:14px;
    line-height:1.5;
}
.conclusion h2{
    margin-bottom:5px;
    font-size:20px;
}

@keyframes float{
    0%{transform:translateY(0);opacity:1}
    100%{transform:translateY(-900px);opacity:0}
}
